.ui-password {
    --interaction-norm-minor-2: rgb(252 156 159 / 0.08);
    --interaction-norm-minor-1: rgb(252 156 159 / 0.16);
    --interaction-norm: rgb(252 156 159 / 0.8);
    --interaction-norm-major-1: #FC9C9F;
    --interaction-norm-major-2: #FDB0B2;
    --interaction-norm-major-3: #FDBABC;
}