@import '~@proton/styles/scss/config';

.password-preview {
	block-size: em(90);
}

.password-generator-char-alphabetic {
	color: var(--text-norm);
}

.password-generator-char-digit {
	color: var(--signal-info-active);
}

.password-generator-char-special {
	color: var(--signal-danger-active);
}

span.slider-thumb {
	display: flex;
	transition: none !important;
}
