.button.pass-item-list--item {
	border-radius: 0;
	padding: 0;

	&:focus-visible {
		border-color: transparent;
		box-shadow: none;
	}
}

.button.is-active.pass-item-list--item {
	background-color: var(--interaction-norm-minor-1);
}
